body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
  
    form {
      background: #fff;
      padding: 20px;
      border-radius: 5px;
  
      label {
        display: block;
        margin-top: 20px;
      }
  
      input[type="file"], textarea {
        width: 100%;
      }
  
      button {
        margin-top: 20px;
        padding: 10px 20px;
        background-color: #5cb85c;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
  
        &:hover {
          background-color: #449d44;
        }
      }
      #submitBtn:disabled {
        background-color: grey;
        color: white;
    }
    }
  }
  