const path = require('path');
const webpack = require('webpack');

module.exports = {
  entry: 'app.js', // Entry point of your application
  output: {
    path: path.resolve(__dirname, 'dist'), // Output directory
    filename: 'bundle.js', // Output bundle file
  },
  plugins: [
    new webpack.DefinePlugin({
      'process.env.SERVER_BACKEND_URL': JSON.stringify(process.env.SERVER_BACKEND_URL),
      'process.env.LOCALHOST_BACKEND_URL': JSON.stringify(process.env.LOCALHOST_BACKEND_URL),
    }),
  ],
};
